* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
html { height: 100%; }
.body-text {
    display: flex;
    font-family: "Brandon Grotesque", sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: "Montserrat", sans-serif;
}
.container {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    letter-spacing: 2px;
    margin-left: 8px;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 7rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }
#nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
#nav-links li {
    list-style: none;
}

::selection {
    color: black;
    background-color: white;
    
}
/* blinking light animation with javascript */
#nav-links a{
    color: rgba(255, 255, 255, 0.800);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    padding: 14px 16px;
    transition: color .15s;
    display: block;
}
#nav-links li a:hover {
    color: white;
}
#nav-links li a.active {
    color: white;
}
#nav-links a.contact:hover{
    color: red;
}
#nav-links a.contact {
    color: rgba(255, 0, 0, 0.800);
}
#nav-links a.activecontact {
    color: red;
}
#nav-links a.activecontact:hover {
    color: red;
}

#toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    
}
#toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.home-video {
    display: block;
}
video {
    width: 100%;
    height: auto;
    object-fit: fill;
}
.footer {
    padding: 40px 0;
    background-color: black;
    position: fixed;
    right: 0; bottom: 0; left: 0;
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    margin: 0 8px;
    opacity: 75%;
    transition: opacity .15s;
}
.footer .social a:hover {
    opacity: 100%;
}
.fa-envelope {
    transform: rotate(90deg);
}
.footer #copyright {
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
    display: absolute;
    opacity: 75%;
}
@media (max-width: 1200px) {
    
    #toggle-button { 
        display: flex;
    }
    #nav-links {
        width: 100%;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    #nav-links ul {
        flex-direction: column;
        width: 100%;
        
    }
    #nav-links li {
        text-align: center;
    }
    #nav-links li a {
        padding: .5rem 1rem;
    }
    #nav-links {
        opacity: 1;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3 ease-in-out;
      }
      #nav-links.fade {
        opacity: 0;
        height: 0;
      }
    
}
